:root {
    --base-color: #1976d2;
    --base-color-1: #3e8ad6;
    --base-color-2: #1762ad;
    --base-popup-background: linear-gradient(to top left, rgb(204, 197, 197), white);
    --base-spacing: 20px;
}

.header-username {
    text-align: right;
    font-size: 30px;
    font-weight: bold;
    ;
}

.border {
    border: 1px solid black;
    padding: var(--base-spacing);
    margin: var(--base-spacing);
    box-sizing: border-box;
}


.login-page {
    background: linear-gradient(to bottom right, var(--base-color-1), var(--base-color), var(--base-color-2));
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background: var(--base-popup-background);
    text-align: center;
    padding: var(--base-spacing);
    border-radius: 5px;
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    background: rgba(184, 183, 183, 0.683);
    justify-content: center;
    align-items: center;
    display: flex;
}

.loader-container .loader {
    display: inline-block;
    height: 100px;
    box-sizing: border-box;
    width: 100px;
    border: 20px solid var(--base-color);
    border-top-color: white;
    border-radius: 50%;
    animation: infinite 1s myspin linear;
}

@keyframes myspin {

    0% {
        rotate: 0;
    }

    100% {
        rotate: 360deg;
    }
}


.song-item{
    margin: var(--base-spacing);
    border:2px solid rgb(224, 222, 222);
    border-radius: 5px;
    padding: var(--base-spacing);
    display: flex;
    justify-content: space-around;
}

.song-skeleton{
    padding: var(--base-spacing);
}
